@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/droid-sans-mono-2');

:root {
    --portfolio-background: rgba(18, 18, 18, 255);

    /* Branding */
    --portfolio-branding-text-color: rgba(250, 249, 246, 1);
    --portfolio-branding-tower-color: black;
    --portfolio-branding-gap: 5px;

    /* Navigation */
    --portfolio-navigation-gap: 30px;

}

.webpage {
    display: flex;
    flex-direction: column;
    background-color: var(--portfolio-background);
    height: 100%;
    padding: 30px;
    padding-left: 60px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
    gap: var(--portfolio-branding-gap);
}

/* =====================================
   Modifiers
   ===================================== */
.webpage.center {
    justify-content: center;
    align-items: center;
}

/* =====================================
   BRANDING
   ===================================== */
.webpage .branding {
    /* Ensure divs are in rows and are aligned in the center */
    display: flex;
    flex-direction: row;

    /* Space between child elements */
    gap: var(--portfolio-branding-gap);

    /* Make sure width is 100% of the parent width */
    width: 100%;

    /* Fit to content. */
    height: fit-content;

    /* Default font color */
    color: var(--portfolio-branding-text-color);  
}

.webpage .branding .title {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 4px;
    border-radius: 10px;
}

.webpage .branding .group {
    display: flex;
}

.webpage .branding .group.column {
    flex-direction: column;
}

.webpage .branding .group.flex-1 {
    flex: 1;
}

.webpage .branding .position {
    font-size: 0.9rem;
    font-weight: bold;
}

/* =====================================
   Code Executor (Visual)
   ===================================== */
#div_command, #div_command_input {
    font-family: monospace;
    transition: opacity 0.3s ease-in-out;
}

/* =====================================
   Navigation
   ===================================== */

.webpage .navigation {
    /* Put items into a flex */
    display: flex;

    /* Have the items go in column format */
    flex-direction: column;

    /* Align them in the center of the navigation bar */
    justify-content: center;

    gap: var(--portfolio-navigation-gap);

    /* Make sure height is 100% of the parent height */
    height: 100%;

    width: fit-content;
    /* The width of the navigation bar */
}

.webpage .navigation .socials {
    /* Display icons in a row */
    display: flex;
    gap: 3px;
}

/* =====================================
   Begin Process
   ===================================== */
.webpage .begin-screen {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
}

/* =====================================
   Content
   ===================================== */
.webpage .body {
    display: none;
    transition: all 2s;
    width: 5px;
    height: 5px;
    background: yellow;
}

.webpage .body:hover {
    background: white;
    height: 100%;
}

.webpage .group {
    display: flex;
    flex-direction: column;
}

.webpage .group.center {
    justify-content: center;
    align-items: center;
}

/* =====================================
   Command Injection Display
   ===================================== */

.webpage .command-injection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    font-family: monospace;
    padding: 3px;
}


.webpage .command-injection.use-hover:hover {
    background-color: red;
    cursor: pointer;
}

.webpage .command-injection .title {
    font-family: monospace;
    padding: 3px;
}

.webpage .command-injection .command {
    font-size: 0.8rem;
}

.webpage .command-injection .command .emphasis {
    font-size: 0.8rem;
}

.webpage .command-injection .command .emphasis:hover {
    color: limegreen;
    cursor: pointer;
}

/* =====================================
   Social Icons
   ===================================== */

.webpage .icon {
    width: 25px;
    height: 25px;
    opacity: 1;
}

.webpage .icon.animate {
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.webpage .icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

.webpage .icon.github {
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xMiAyQTEwIDEwIDAgMCAwIDIgMTJjMCA0LjQyIDIuODcgOC4xNyA2Ljg0IDkuNWMuNS4wOC42Ni0uMjMuNjYtLjV2LTEuNjljLTIuNzcuNi0zLjM2LTEuMzQtMy4zNi0xLjM0Yy0uNDYtMS4xNi0xLjExLTEuNDctMS4xMS0xLjQ3Yy0uOTEtLjYyLjA3LS42LjA3LS42YzEgLjA3IDEuNTMgMS4wMyAxLjUzIDEuMDNjLjg3IDEuNTIgMi4zNCAxLjA3IDIuOTEuODNjLjA5LS42NS4zNS0xLjA5LjYzLTEuMzRjLTIuMjItLjI1LTQuNTUtMS4xMS00LjU1LTQuOTJjMC0xLjExLjM4LTIgMS4wMy0yLjcxYy0uMS0uMjUtLjQ1LTEuMjkuMS0yLjY0YzAgMCAuODQtLjI3IDIuNzUgMS4wMmMuNzktLjIyIDEuNjUtLjMzIDIuNS0uMzNjLjg1IDAgMS43MS4xMSAyLjUuMzNjMS45MS0xLjI5IDIuNzUtMS4wMiAyLjc1LTEuMDJjLjU1IDEuMzUuMiAyLjM5LjEgMi42NGMuNjUuNzEgMS4wMyAxLjYgMS4wMyAyLjcxYzAgMy44Mi0yLjM0IDQuNjYtNC41NyA0LjkxYy4zNi4zMS42OS45Mi42OSAxLjg1VjIxYzAgLjI3LjE2LjU5LjY3LjVDMTkuMTQgMjAuMTYgMjIgMTYuNDIgMjIgMTJBMTAgMTAgMCAwIDAgMTIgMloiLz48L3N2Zz4=);
}

.webpage .icon.x {
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xOC4yMDUgMi4yNWgzLjMwOGwtNy4yMjcgOC4yNmw4LjUwMiAxMS4yNEgxNi4xM2wtNS4yMTQtNi44MTdMNC45NSAyMS43NUgxLjY0bDcuNzMtOC44MzVMMS4yMTUgMi4yNUg4LjA0bDQuNzEzIDYuMjMxbDUuNDUtNi4yMzFabS0xLjE2MSAxNy41MmgxLjgzM0w3LjA0NSA0LjEyNkg1LjA3OEwxNy4wNDQgMTkuNzdaIi8+PC9zdmc+);
}

.webpage .icon.ycombinator {
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0zMCAydjI4SDJWMnpNMTYuNzUgMTcuOTY5bDQuODQ0LTkuMDk0SDE5LjU1bC0yLjg2MyA1LjY4OGEzOC40MDYgMzguNDA2IDAgMCAwLS44IDEuNjc1bC0uNzYyLTEuNjc1TDEyLjMgOC44NzVoLTIuMTg4bDQuNzk0IDguOTg4djUuOTA2aDEuODQ0eiIvPjwvc3ZnPg==);
}

/* =====================================
   Animations
   ===================================== */

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* =====================================
   Fonts
   ===================================== */
.code-font {
    font-family: monospace;
}


/* =====================================
   Positioning
   ===================================== */
.text-center {
    text-align: center;
}

/* =====================================
   SIZING
   ===================================== */
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}