
/* Windows 7 Desktop */
:root {
    /* Windows 7 theme */
    --primary-background: rgba(4, 66, 139, 1);

    /* Windows 7 Aero Theme */
    --aero-background: rgba(47, 47, 47, 0.4);
}

/* Windows 7 Aero */
:root {
    --taskbar-height: 40px;
    --taskbar-small-group-gap: 9px;
    --taskbar-group-padding: 8px;

    /* Addition to the Aero theme */
    --aero-border-top-color: rgba(36, 60, 81, 1);
    --aero-border-top-bottom-color: rgba(153, 193, 224, 1);
    --aero-network-icon-color: rgba(229, 231, 232, 1);

    /* StartMenu */
    --startmenu-width: 455px;
    --startmenu-height: 525px;
    --startmenu-starting-pos: 41px;

    --startmenu-content-width: 250px;
    --startmenu-content-height: 510px;

    --startmenu-padding-left: 7px;
    --startmenu-padding-right: 7px;

    --aero-sm-background-color: rgba(255, 255, 255, 1);
    --aero-sm-group-color: rgba(241, 245, 251, 1);
    --aero-sm-group-border-top-color: rgba(210, 221, 237, 1);
}


.win7-emulator {
    /* Set the default background color to black */
    background: var(--default-background);

    /* Prevent content from overflowing its container */
    overflow: hidden;

    /* Disable text selection and highlighting */
    user-select: none;

    /* Disable touch interactions */
    touch-action: none;

    /* Set the minimum height of the element to 100% of viewport height */
    min-height: inherit;
}

.win7-desktop {
    /* Set image rendering to achieve crisp and pixelated edges */
    image-rendering: auto;

    /* Disable the ability to call up the context menu on touch */
    -webkit-touch-callout: none; /* Disable iOS context menu */

    /* Disable text selection and highlighting */
    user-select: none;

    /* Disable touch interactions */
    touch-action: none;
}

.win7-desktop__content {
    /* Set the minimum height of the element to 100% of viewport height */
    min-height: 100vh;

    /* Set the width of the element to 100% of the viewport width */
    width: 100vw;
}

.win7-desktop__content--with-bg {  
    /* Set background image */
    background: url("../lib/images/windows/win7-bg.jpg");

    /* Center the background image */
    background-position: center;

    /* Background image covers entire screen. */
    background-size: cover; /* Adjust as needed */

    /* Prevent background image from repeating */
    background-repeat: no-repeat;
}

/* =====================================
   THEME
   ===================================== */

.win7--aero {
    /* Background color for Aero theme */
    background: var(--aero-background);

    /* Blurred background effect */
    backdrop-filter: blur(5px);
}

/* =====================================
   TASKBAR
   ===================================== */

.win7-taskbar {
    /* Fixed position at the bottom of the viewport */
    position: fixed;

    /* Positioned at the bottom */
    bottom: 0;
    
    /* Inherits width from the parent */
    width: inherit;
}

.win7-taskbar--aero--additives {
    /* Top border for Aero theme */
    border-top: 1px solid var(--aero-border-top-color); 

    /* Inset shadow color for the top of the border. */
    box-shadow: inset 0px 7px 1px -6px var(--aero-border-top-bottom-color);
}

.win7-taskbar__content {
    /* Set the height using the custom property */
    height: var(--taskbar-height);    
}

.win7-taskbar__content--use-flex {
    /* Use flexbox to arrange items in row */
    display: flex;
}

.win7-taskbar__program {
    /* Set the width of the program icon */
    width: 16px;

    /* Set the height of the program icon */
    height: 16px; 
}

.win7-taskbar__group {
    /* Use flexbox to arrange items in row */
    display: flex;

    /* Set the width to fit the content */
    width: fit-content;

    /* height: inherit; */
    height: inherit;
}

.win7-taskbar__group--align-programs { 
    /* Aligns the taskbar__program(s) with one another */
    align-items: center;
}

.win7-taskbar__group--small-gap {
    /* Add a gap between flex items */
    gap: var(--taskbar-small-group-gap);
}

.win7-taskbar__group--far-right {
    /* Position the group to the far right of the parent */
    margin-left: auto;
}

.taskbar__group--horizontal-padding {
    /* Apply horizontal padding using CSS variables */
    padding-left: var(--taskbar-group-padding);
    padding-right: var(--taskbar-group-padding);
}

.win7-taskbar__program--fit-content {
    /* Set the width of the program icon */
    width: fit-content;
    height: fit-content;
}

.win7-taskbar__program--startmenu {
    /* Set the icon image to Windows 7 Start Menu using the 'content' property */
    content: url("../lib/images/windows/win7-startmenu.png") !important;

    /* Inherit the width from the parent element */
    width: inherit;

    /* Inherit the height from the parent element */
    height: inherit;
}

.win7-taskbar__program--startmenu:hover {
    /* Change the icon image on hover */
    content: url("../lib/images/windows/win7-startmenu-2.png") !important; /* Change the icon image on hover */

    /* Change cursor to pointer on hover */
    cursor: pointer;
}

.win7-taskbar__program--network-audio-3 {
    /* Set the icon image to Audio-03 using the 'content' property */
    content: url("../lib/images/windows/network/44.ico") !important;
}

.win7-taskbar__program--connection {
    /* Set the icon image to Ethernet Connection using the 'content' property */
    content: url("../lib/images/windows/network/390.ico") !important;
}

.win7-taskbar__program--list-programs::before {
    /* Set the icon image to Black Medium Up-Pointing Triangle using the 'content' property */
    content: '⏶';

    /* Set the icon color to default network icon color */
    color: var(--aero-network-icon-color);
}

.win7-taskbar__program--time {
    /* Use flexbox to arrange items */
    display: flex;

    /* Stack items vertically */
    flex-direction: column;

    /* Center items vertically */
    justify-content: center;

    /* Center items horizontally */
    align-items: center;
}

.win7-taskbar__program--time--left-padding {
    /* Add additional padding on the left */
    padding-left: 6px;
}

/* =====================================
   STARTMENU
   ===================================== */

.win7-startmenu {
    /* Set the start menu to be absolutely positioned */
    position: absolute;

    /* Use flexbox to align items vertically */
    display: flex;

    /* Align the blocks not the items vertically. */
    align-items: center;

    /* Set the width of the start menu */
    width: var(--startmenu-width);

    /* Set the height of the start menu */
    height: var(--startmenu-height);
    
    /* Position the element at a specific distance from the bottom */
    bottom: var(--startmenu-starting-pos);

    /* Apply padding to left and right of startmenu */
    padding-left: var(--startmenu-padding-left);
    padding-right: var(--startmenu-padding-right);
}

.win7-startmenu--aero--additives {
    /* Top border for Aero theme */
    border: 1px solid var(--aero-border-top-color); 

    /* Inset shadow color for the top of the border. */
    box-shadow: inset 0px 0px 3px var(--aero-border-top-bottom-color);

    /* Apply a border radius to the element */
    border-radius: 8px 8px 8px 0;
}

.win7-startmenu__content {
    /* Set the width using a CSS variable */
    width: var(--startmenu-content-width);
    
    /* Set the height using a CSS variable */
    height: var(--startmenu-content-height);
}

.win7-startmenu__content--use-flex {
    /* Use flexbox to arrange items in row */
    display: flex;
}

.win7-startmenu__content--with-design {
    /* Apply Aero background to div */
    background: var(--aero-sm-background-color);

    /* Apply rounded corners to the content */
    border-radius: 5px 5px 5px 5px;
}

.win7-startmenu__group {
    /* Use flexbox to align items vertically and horziontally */
    display: flex;
    
    /* Align items in the center vertically */
    align-items: center;

    /* Align items horizontally */
    justify-content: center;

    /* Keep the group fixed to the bottom of the viewport */
    position: fixed;
    
    /* Align to bottom of the parent with offset of 7. */
    bottom: 7px;

    /* Inherit width from parent */
    width: inherit;
}

.win7-startmenu__group--small {
    /* Set size of startmenu group */
    height: 40px;
}

.win7-startmenu__group--default-design {
    /* Add Aero border top to group */
    border-top: 1px solid var(--aero-sm-group-border-top-color);

    /* Change border radius keep top left and right 0. */
    border-radius: 0px 0px 5px 5px;
}

.win7-startmenu__group--light-blue {
    /* Apply background color to startmenu group */
    background-color: var(--aero-sm-group-color);
}

/* Singular Input */
.win7-startmenu__group input {
    width: 195px;
    height: 15px;
    border: none;
    border-top: 1px solid #b0b0b2;
    border-left: 1px solid #b0b0b2;
    border-bottom: 1px solid #b0b0b2;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    outline: none;
}
.win7-startmenu__group .input-icon {
    content: url("../lib/images/windows/network/magnifying_glass.svg");
    background: white;
    border: none;
    padding: 1.5px;
    border-top: 1px solid #b0b0b2;
    border-right: 1px solid #b0b0b2;
    border-bottom: 1px solid #b0b0b2;
}

/* =====================================
   MISCELLANEOUS
   ===================================== */

.font-xs {
    font-size: 0.8rem;
}

.font-segou_ui {
    font-family: 'Segoe UI';
}

.font-segou_ui {
    font-family: 'Segoe UI';
}

.font-italic {
    font-style: italic;
}

.white {
    color: white;
}