/* Windows 7 Desktop */
:root {
    /* Windows 7 theme */
    --primary-background: rgba(4, 66, 139, 1);

    /* Windows 7 Aero Theme */
    --aero-background: rgba(47, 47, 47, 0.4);
}

/* Windows 7 Aero */
:root {
    --taskbar-height: 40px;
    --taskbar-small-group-gap: 3px;
    --taskbar-group-padding: 8px;

    /* Addition to the Aero theme */
    --aero-border-top-color: rgba(36, 60, 81, 1);
    --aero-border-top-bottom-color: rgba(153, 193, 224, 1);
    --aero-network-icon-color: rgba(229, 231, 232, 1);
    --aero-taskbar-icon-hover: rgba(255, 255, 255, 0.3);

    /* StartMenu */
    --startmenu-width: 410px;
    --startmenu-height: 525px;
    --startmenu-starting-pos: 41px;

    --startmenu-content-width: 245px;
    --startmenu-content-height: 510px;

    --startmenu-padding-left: 7px;
    --startmenu-padding-right: 7px;

    --aero-sm-background-color: rgba(255, 255, 255, 1);
    --aero-sm-group-color: rgba(241, 245, 251, 1);
    --aero-sm-group-border-top-color: rgba(210, 221, 237, 1);

    /* Desktop Grid */
    --aero-dg-program-title-color: rgba(255, 255, 255, 1);
    --aero-dg-program-title-shadow-color: rgba(0, 0, 0, 1);
    --aero-dg-program-title-font-size: 0.8rem;
    --aero-dg-program-hover: rgba(112, 151, 218, 0.7);
    --aero-dg-program-hover-border: rgba(135, 171, 240, 0.6);
    --aero-dg-program-hover-shadow: rgba(140, 175, 239, 1);
    --aero-dg-program-active: rgba(112, 151, 218, 0.7);
    --aero-dg-program-active-border: rgba(135, 171, 240, 0.6);
    --aero-dg-program-active-shadow: rgba(140, 175, 239, 1);

    /* IE9 Program */
    /* IE9 */
    --aero-ie9-program-width: 1200px;
    --aero-ie9-program-height: 700px;
    /* REGULAR */
    --aero-program-width: 400px;
    --aero-program-height: 600px;
    --aero-ie9-program-border-radius: 6px;
    --aero-ie9-program-blur: 1px;
    --aero-ie9-program-opacity: 3px;

    --aero-ie9-program-border-color: rgba(17, 53, 126, 1);


    /* Aero Input Designer */
    --aero-input-default-bg: rgba(255, 255, 255, 1);
    --aero-input-default-border: rgba(196, 198, 201, 1);
    --aero-input-disabled-color: rgba(255, 255, 255, 1);
    --aero-input-disabled-border-color: rgba(149, 170, 186);

    --aero-ie9-disabled-cursor: normal;

}

.win7-emulator {
    /* Automate the z-index */
    z-index: auto;

    /* Set the default background color to black */
    background: var(--default-background);

    /* Prevent content from overflowing its container */
    overflow: hidden;

    /* Disable text selection and highlighting */
    user-select: none;

    /* Disable touch interactions */
    touch-action: none;

    /* Set the minimum height of the element to 100% of viewport height */
    min-height: inherit;
}

.win7-desktop {
    /* Set image rendering to achieve crisp and pixelated edges */
    image-rendering: auto;

    /* Disable the ability to call up the context menu on touch */
    -webkit-touch-callout: none;

    /* Disable text selection and highlighting */
    user-select: none;

    /* Disable touch interactions */
    touch-action: none;
}

.win7-desktop__content {
    /* Set display to FlexBox */
    display: flex;

    /* Set FlexBox direction to column */
    flex-direction: column;

    /* Set the minimum height of the element to 100% of viewport height */
    min-height: 100vh;

    /* Set the width of the element to 100% of the viewport width */
    width: 100vw;
}

.win7-desktop__content--with-bg {
    /* Set background image */
    background: url("https://d2hqjspxd4b0fs.cloudfront.net/win7/desktop.jpg");

    /* Center the background image */
    background-position: center;

    /* Background image covers entire screen. */
    background-size: cover;
    /* Adjust as needed */

    /* Prevent background image from repeating */
    background-repeat: no-repeat;
}

/* =====================================
   THEME
   ===================================== */

.win7--aero {
    /* Background color for Aero theme */
    background: var(--aero-background);

    /* Blurred background effect */
    backdrop-filter: blur(5px);
}

/* =====================================
   TASKBAR
   ===================================== */

.win7-taskbar {
    /* Applying z-index */
    z-index: 7;

    /* Fixed position at the bottom of the viewport */
    position: fixed;

    /* Positioned at the bottom */
    bottom: 0;

    /* Inherits width from the parent */
    width: inherit;
}

.win7-taskbar--aero--additives {
    /* Top border for Aero theme */
    border-top: 1px solid var(--aero-border-top-color);

    /* Inset shadow color for the top of the border. */
    box-shadow: inset 0px 7px 1px -6px var(--aero-border-top-bottom-color);
}

.win7-taskbar__content {
    /* Set the height using the custom property */
    height: var(--taskbar-height);
}

.win7-taskbar__content--use-flex {
    /* Use flexbox to arrange items in row */
    display: flex;
}

.win7-taskbar__program {
    /* empty */
}

.win7-taskbar__group {
    /* Use flexbox to arrange items in row */
    display: flex;

    /* Set the width to fit the content */
    width: fit-content;

    /* height: inherit; */
    height: inherit;
}

.win7-taskbar__group--align-programs {
    /* Aligns the taskbar__program(s) with one another */
    align-items: center;
}

.win7-taskbar__group--small-gap {
    /* Add a gap between flex items */
    gap: var(--taskbar-small-group-gap);
}

.win7-taskbar__group--far-right {
    /* Position the group to the far right of the parent */
    margin-left: auto;
}

.taskbar__group--horizontal-padding {
    /* Apply horizontal padding using CSS variables */
    padding-left: var(--taskbar-group-padding);
    padding-right: var(--taskbar-group-padding);
}

.win7-taskbar__program--fit-content {
    /* Set the width of the program icon */
    width: fit-content;
    height: fit-content;
}

.win7-taskbar__program--startmenu {
    /* Set the icon image to Windows 7 Start Menu using the 'content' property */
    content: url("http://d2hqjspxd4b0fs.cloudfront.net/win7/orb-default.png");

    /* Inherit the width from the parent element */
    width: inherit;

    /* Inherit the height from the parent element */
    height: inherit;
}

.win7-taskbar__program--startmenu--glow {
    /* Change the icon image on hover */
    content: url("http://d2hqjspxd4b0fs.cloudfront.net/win7/orb-pressed.png");
    /* Change the icon image on hover */

    /* Inherit the width from the parent element */
    width: inherit;

    /* Inherit the height from the parent element */
    height: inherit;
}


.win7-taskbar__program--startmenu:hover {
    /* Change the icon image on hover */
    content: url("http://d2hqjspxd4b0fs.cloudfront.net/win7/orb-hover.png");
    /* Change the icon image on hover */

    /* Change cursor to pointer on hover */
    cursor: pointer;

    transition: content 2s;

}

.win7-taskbar__program--with-border {
    /* Add transparent border on the left */
    border-left: 1px solid transparent;
    /* Add transparent border on the right */
    border-right: 1px solid transparent;

    /* Add padding on the left */
    padding-left: 2px;

    /* Add padding on the right */
    padding-right: 2px;
}

.win7-taskbar__program--hover:hover {
    /* Add dark border on the left */
    border-left: 1px solid rgba(47, 47, 47, 0.4);

    /* Add dark border on the right */
    border-right: 1px solid rgba(47, 47, 47, 0.4);

    /* Increase height side by using padding */
    padding-top: 6px;
    padding-bottom: 6px;

    /* Add pointer curse on hover */
    cursor: pointer;
}

.win7-taskbar__program--network-audio-3 {
    /* Set the icon image to Audio-03 using the 'content' property */
    content: url("https://d2hqjspxd4b0fs.cloudfront.net/win7/audio/68.ico") !important;
}

.win7-taskbar__program--connection {
    /* Set the icon image to Ethernet Connection using the 'content' property */
    content: url("https://d2hqjspxd4b0fs.cloudfront.net/win7/network/390.ico") !important;
}

.win7-taskbar__program--list-programs::before {
    /* Set the icon image to Black Medium Up-Pointing Triangle using the 'content' property */
    content: '⏶';

    /* Set the icon color to default network icon color */
    color: var(--aero-network-icon-color);
}

.win7-taskbar__program--time {
    /* Use flexbox to arrange items */
    display: flex;

    /* Stack items vertically */
    flex-direction: column;

    /* Center items vertically */
    justify-content: center;

    /* Center items horizontally */
    align-items: center;
}

.win7-taskbar__program--time--left-padding {
    /* Add additional padding on the left */
    padding-left: 6px;
}

/* =====================================
   STARTMENU
   ===================================== */

.win7-startmenu {
    /* Ensures startmenu is over grid */
    z-index: 9;

    /* Set the start menu to be absolutely positioned */
    position: absolute;

    /* Use flexbox to align items vertically */
    display: flex;

    /* Align the blocks not the items vertically. */
    align-items: center;

    /* Set the width of the start menu */
    width: var(--startmenu-width);

    /* Set the height of the start menu */
    height: var(--startmenu-height);

    /* Position the element at a specific distance from the bottom */
    bottom: var(--startmenu-starting-pos);

    /* Apply padding to left and right of startmenu */
    padding-left: var(--startmenu-padding-left);
    padding-right: var(--startmenu-padding-right);
}

.win7-startmenu--aero--additives {
    /* Top border for Aero theme */
    border: 1px solid var(--aero-border-top-color);

    /* Inset shadow color for the top of the border. */
    box-shadow: inset 0px 0px 3px var(--aero-border-top-bottom-color);

    /* Apply a border radius to the element */
    border-radius: 8px 8px 8px 0;
}

.win7-startmenu__content {
    /* Use FlexBox to align items vertically and horziontally */
    display: flex;

    /* Align FlexBox items in column format */
    flex-direction: column;

    align-items: center;

    /* Set the width using a CSS variable */
    width: var(--startmenu-content-width);

    /* Set the height using a CSS variable */
    height: var(--startmenu-content-height);
}

.win7-startmenu__content--use-flex {
    /* Use flexbox to arrange items in row */
    display: flex;
}

.win7-startmenu__content--with-design {
    /* Apply Aero background to div */
    background: var(--aero-sm-background-color);

    /* Apply rounded corners to the content */
    border-radius: 5px 5px 5px 5px;
}

.win7-startmenu__group {
    /* Keep the group fixed to the bottom of the viewport */
    position: relative;

    /* Use flexbox to align items vertically and horziontally */
    display: flex;

    /* Align items horizontally */
    justify-content: center;

    /* Inherit width from parent */
    width: inherit;

    /* Enable ScrollBar when content overflows (y should only ever overflow */
    overflow-y: auto;

    padding: 2px;
}

.win7-startmenu__group--column {
    /* Switch FlexBox direction to column */
    flex-direction: column;
}

.win7-startmenu__group--fit {
    /* Set size of startmenu group */
    height: inherit;
}

.win7-startmenu__group--divider {
    /* Set size of startmenu group */
    content: "";
    border-top: 2px solid rgba(47, 47, 47, 0.1);
    box-shadow: inset 0px 7px 1px -6px var(--aero-border-top-bottom-color);
    width: 142px;
    height: 1px;
}

.win7-startmenu__group--default-design {
    /* Add Aero border top to group */
    border-top: 1px solid var(--aero-sm-group-border-top-color);

    /* Change border radius keep top left and right 0. */
    border-radius: 5px 5px 5px 5px;
}

.win7-startmenu__group--light-blue {
    /* Apply background color to startmenu group */
    background-color: var(--aero-sm-group-color);
}


.win7-startmenu__group__item {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 0.9rem;
    border: 1px solid transparent;
}

.win7-startmenu__group__item:hover {
    background-image: linear-gradient(to bottom, white, var(--aero-dg-program-hover));
    border: 1px solid var(--aero-dg-program-hover-border);
    cursor: pointer;
}

.win7-startmenu__group__item--icon {
    width: 40px;
}


/* Transitions */
#startmenu_main_content,
#startmenu_side_content,
#all_programs {
    transition: opacity 0.1s ease-in;

}

/* =====================================
   Avatar
   ===================================== */

.win7-avatar-builder {
    position: relative;
    bottom: 14px;
    width: 90px;
    height: 90px;
}

.win7-avatar-builder img.win7-frame {
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0px;
}

.win7-avatar-builder img.win7-avatar {
    position: absolute;
    right: 15px;
    bottom: -19px;
    height: 62px;
    width: 60px;
}

/* =====================================
   Desktop Grid
   ===================================== */
.win7-desktop-grid {
    /* Setting z-index */
    z-index: 2;

    /* Use CSS Grid for layout */
    display: grid;

    /* Internet Explorer-specific: Use the old -ms-grid for layout */
    display: -ms-grid;

    /* Mozilla Firefox-specific: Use the old -moz-grid for layout */
    display: -moz-grid;

    /* Track the rows and see if it exceeds the parent and automatically adjusts */
    grid-template-rows: repeat(auto-fill, minmax(85px, 1fr));

    /* Set auto-flow to Column */
    grid-auto-flow: column;

    /* Ensures that there is no huge gaps between items */
    justify-content: left;

    /* Height of the desktop grid */
    height: calc(100vh - 50px);

    /* Set gap between grid items */
    gap: 8px;

    /* Set padding for box */
    padding: 5px;
}

.win7-desktop-grid__program {
    /* Set display to FlexBox */
    display: flex;

    /* Set FlexBox to direction */
    flex-direction: column;

    /* Align icon and program name to the center */
    align-items: center;

    /* Set width of the program */
    width: 85px;

    /* Set height of the program */
    height: fit-content;

    /* Max height of program 
        max-height: 85px;*/

    /* Set padding of the program */
    padding: 3px;

    /* Set Transparent border */
    border: 1px solid transparent;
}

.win7-desktop-grid__program:hover {
    /* Change the background color on hover (desktop program) */
    background-color: var(--aero-dg-program-hover);

    /* Change the border color on hover (desktop program) */
    border: 1px solid var(--aero-dg-program-hover-border);

    /* Change the box shadow on hover (desktop program) */
    box-shadow: inset 0 0.3px 1px var(--aero-dg-program-hover-shadow);

    /* Change cursor to pointer on hover */
    cursor: pointer;
}

.win7-desktop-grid__program.active {
    /* Change the background color on active (desktop program) */
    background-color: var(--aero-dg-program-active);

    /* Change the border color on active (desktop program) */
    border: 1px solid var(--aero-dg-program-active-border);

    /* Change the box shadow on active (desktop program) */
    box-shadow: inset 0 0.3px 1px var(--aero-dg-program-active-shadow);
}


.win7-desktop-grid__program--icon {
    /* Width of icon in program */
    width: 48px;

    /* Height of icon in program */
    height: 48px;
}

.win7-desktop-grid__program--title {
    /* Set title to Old FlexBox */
    display: -webkit-box;

    /* Max width for title */
    max-width: 75px;
    max-height: fit-content;

    /* Break word when title exceeds parent */
    word-break: break-word;

    /* Align title in the center */
    text-align: center;

    /* Color of program title */
    color: var(--aero-dg-program-title-color);

    /* Color of text shadow of program title */
    text-shadow: 1px 3px 5px var(--aero-dg-program-title-shadow-color);

    /* Font size of title */
    font-size: var(--aero-dg-program-title-font-size);

    /* Allows limiting of the contents of a block container */
    -webkit-line-clamp: 2;

    /* Whether a box lays out its contents horizontally or vertically */
    -webkit-box-orient: vertical;

    /* Hide overflow content */
    overflow: hidden;


    /* When title exceeds change to ellipisis */
    text-overflow: ellipsis;

}

.program_ie9-icon {
    /* Desktop Explorer Icon */
    content: url("https://d2hqjspxd4b0fs.cloudfront.net/win7/internet-explorer.svg")
}

.program_be_app-icon {
    /* BruteExpose Icon */
    content: url("http://d2hqjspxd4b0fs.cloudfront.net/win7/orb-default.png");
    margin-bottom: 5px;
}


/* =====================================
   DESKTOP PROGRAM (REGULAR)
   ===================================== */
.win7-program__application {
    /* Ensure that the desktop program icons get overlapped */
    z-index: 4;

    display: flex;
    flex-direction: column;

    /* Relative positioning */
    position: absolute;

    /* Center horizontally */
    left: 0;
    right: 0;
    margin: auto;

    /* Tries to center.. */
    top: 10%;

    /* Default PROGRAM width */
    width: var(--aero-program-width);

    /* Default PROGRAM height */
    height: var(--aero-program-height);
}

/* =====================================
   DESKTOP PROGRAM (INTERNET EXPLORER)
   ===================================== */

.win7-program__explorer {
    /* Ensure that the desktop program icons get overlapped */
    z-index: 4;

    display: flex;
    flex-direction: column;

    /* Relative positioning */
    position: absolute;

    /* Center horizontally */
    left: 0;
    right: 0;
    margin: auto;

    /* Tries to center.. */
    top: 10%;

    /* Default IE9 width */
    width: var(--aero-ie9-program-width);

    /* Default IE9 height */
    height: var(--aero-ie9-program-height);
}

.win7-program__explorer__handle {
    position: absolute;
    width: 100%;
    height: 100%;
}

.win7-program__explorer {
    /* Set border-radius for Internet Explorer 9 */
    border-radius: var(--aero-ie9-program-border-radius);

    /* Set border for Internet Explorer 9 */
    border: 1px solid var(--aero-ie9-program-border-color);
}

.win7-program__explorer__group {
    z-index: 6;
    display: flex;
    align-items: center;
}

.win7-program__explorer__group--fill {
    align-items: normal;
    flex: 1;
}

.win7-program__explorer::before {
    /* Apply a background image to the pseudo-element */
    content: "";
    background: url("../lib/images/windows/textures/aero_glass_texture.jpg");
    background-size: cover;

    /* Set a lower z-index for layering */
    z-index: -1;

    /* Set opacity for transparency */
    opacity: 0.3;

    /* Set dimensions and position */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    /* Set background blur */
    filter: blur(var(--aero-ie9-program-blur));

    /* Set border-radius for Internet Explorer 9 */
    border-radius: var(--aero-ie9-program-border-radius);
}

.win7-program__explorer__controls {
    /* Use FlexBox */
    display: flex;

    /* Start direction from the end */
    flex-direction: row-reverse;

    /* Inherit width from parent */
    width: 100%
}

.win7-program__explorer__tabgroup {
    display: flex;

    /* Set position to relative */
    position: relative;

    /* Ensures the baseline is aligned with the searchbox */
    top: 3px;

    /* Mimicks IE9 tab */
    height: 30px;

}

.win7-program__explorer__tabgroup__tab {
    display: flex;
    align-items: center;
    gap: 5px;
    background: white;
    font-size: 0.8rem;
    height: inherit;
    width: 190px;
    padding: 4px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    opacity: 0.7;
}

.win7-program__explorer__tabgroup__tab.active {
    opacity: 1;
}

.win7-program__explorer--tab-icon {
    width: 17px;
    height: 17px;
}

.win7-program__explorer__webpage {
    flex: 1;
    background: white;
    border: 1px solid #b7b7b7;
}

/* =====================================
   Aero Button Customizer
   ===================================== */

.aero-button {
    display: flex;
    align-items: center;
    width: 150px;
    padding: 4px;
    background: transparent;
}

.aero-button button {
    width: inherit;
    height: 30px;
    text-align: left;
    background: transparent;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
}

.aero-button button:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(47, 47, 47, 0.3) 67%, transparent);
    box-shadow: inset 0 0.3px 1px rgba(255, 255, 255, 1);
    border: 1px solid black;
    cursor: pointer;
}

.aero-button button.shutdown {
    font-size: 0.7rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(47, 47, 47, 0.3) 80%, transparent);
    box-shadow: inset 0 0.3px 1px rgba(255, 255, 255, 1);
    height: 22px;
    width: 75px;
    border: 1px solid black;
}


/* =====================================
   Aero Circular Button Customizer
   ===================================== */
.aero-button__circular {
    display: flex;
    align-items: center;
    justify-content: center;
    background:
        linear-gradient(to left top, rgba(0, 255, 255, 0.3) 0%, rgba(0, 158, 210, 0.3) 50%, rgba(0, 162, 212, 0.3) 100%),
        linear-gradient(rgba(0, 162, 212, 0.5), rgba(0, 162, 212, 0.5));
    border-radius: 50%;
    border: 1px solid rgba(152, 159, 166, 0.4);
}

.aero-button__circular--disabled {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 10%, rgba(0, 255, 255, 0));
}

.aero-button__circular--small {
    width: 35px;
    height: 35px;
}

.aero-button__circular--medium {
    width: 50px;
    height: 50px;
}

.aero-button__circular--left-icon {
    content: url("../lib/arrow-right.svg");
    transform: scaleX(-1);
    width: 30px;
    height: 30px;
}

.aero-button__circular--right-icon {
    content: url("../lib/arrow-right.svg");
    width: 20px;
    height: 20px;
}


/*

.aero-button.circular {
    display: flex;
    position: relative;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    background:
        linear-gradient(to left top, rgba(0, 255, 255, 0.5) 0%, rgba(0, 158, 210, 0.5) 50%, rgba(0, 162, 212, 0.5) 100%),
        linear-gradient(rgba(0, 162, 212, 0.5), rgba(0, 162, 212, 0.5))
}
*/

/* =====================================
   Aero Input Customizer
   ===================================== */

.aero-input {
    /* Use flexbox to vertically align items */
    display: flex;

    /* Align input in the center of the block */
    align-items: center;

    /* Width tries to fit content */
    width: fit-content;

    /* Set padding so box-shadow will show */
    padding: 1px;

    /* The box shadow */
    box-shadow: inset 0px 0px 2px var(--aero-border-top-bottom-color);
}

.aero-input.default {
    /* Set background color to default(aero) */
    background-color: white;

    /* Set border color to default(aero) */
    border: 1px solid var(--aero-input-default-border);
}

.aero-input.disabled {
    background: var(--aero-input-disabled-color);
    cursor: var(--aero-ie9-disabled-cursor);
    border: 1px solid var(--aero-input-disabled-border-color);
}

.aero-input input:disabled {
    background: var(--aero-input-disabled-color);
    cursor: var(--aero-ie9-disabled-cursor);
    color: black;
}

.aero-input input {
    /* Make the input inherit from parent */
    width: inherit;

    /* Remove outline */
    outline: none;

    /* Remove border */
    border: none;
}

.aero-input input.icon-format {
    /* Add a transparent border on the left */
    border-left: 1px solid transparent;
}

.aero-input .icon {
    /* Default icon size */
    width: 15px;

    /* Inherit height from parent */
    height: inherit;

    margin-right: 3px;

    width: 17px;
    height: 17px;
}


/*
.aero-input .icon.magnify {
    content: url("https://d2hqjspxd4b0fs.cloudfront.net/magnifying_glass.svg");
}
*/

.aero-input .icon.magnify-2 {
    /* Set content to magnifying glass icon */
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICAgIDxwYXRoIGZpbGw9IiM2Nzg0OWEiIGQ9Ik05LjUgM0E2LjUgNi41IDAgMCAxIDE2IDkuNWMwIDEuNjEtLjU5IDMuMDktMS41NiA0LjIzbC4yNy4yN2guNzlsNSA1bC0xLjUgMS41bC01LTV2LS43OWwtLjI3LS4yN0E2LjUxNiA2LjUxNiAwIDAgMSA5LjUgMTZBNi41IDYuNSAwIDAgMSAzIDkuNUE2LjUgNi41IDAgMCAxIDkuNSAzbTAgMkM3IDUgNSA3IDUgOS41UzcgMTQgOS41IDE0UzE0IDEyIDE0IDkuNVMxMiA1IDkuNSA1WiIvPg0KPC9zdmc+);
}

.aero-input .icon.refresh {
    /* Set content to refresh icon */
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjc4NDlhIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMzIiIGQ9Ik0zMjAgMTQ2czI0LjM2LTEyLTY0LTEyYTE2MCAxNjAgMCAxIDAgMTYwIDE2MCIvPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzY3ODQ5YSIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2Utd2lkdGg9IjMyIiBkPSJtMjU2IDU4bDgwIDgwbC04MCA4MCIvPjwvc3ZnPg==);
}

.aero-input .icon.close {
    /* Set content to close icon */
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzY3ODQ5YSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0xMiAxMkw3IDdtNSA1bDUgNW0tNS01bDUtNW0tNSA1bC01IDUiLz48L3N2Zz4=);
}

.aero-input .icon.down-arrow {
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9IiM2Nzg0OWEiIGQ9Im03IDEwbDUgNWw1LTVIN1oiLz48L3N2Zz4=);
}

.aero-input input.xsmall {
    height: 15px;
    width: 205px;
}

.aero-input input.small {
    height: 20px;
    width: 210px;
}

.aero-input input.medium {
    height: 21px;
    width: 230px;
}

.aero-input input.medium-big-w {
    height: 21px;
    width: 300px;
}

/* Images */
.favicon-portfolio {
    content: url("../lib/images/windows/favicon-stroke-and-fill.svg");
}

/* =====================================
   MISCELLANEOUS
   ===================================== */


/* SIZING  */
.y-inherit {
    height: inherit;
}

.y-fit {
    height: fit-content;
}

.y-xsmall {
    height: 30px;
}

.y-small {
    height: 35px;
}

.y-medium {
    height: 40px;
}

.x-inherit {
    width: inherit;
}

.x-fit {
    width: fit-content;
}

.x-xsmall {
    width: 30px;
}

.x-small {
    width: 40px;
}

.x-semi-large {
    width: 240px;
}


/* FlexBox */
.justify-left {
    justify-content: left;
}

.align-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

/* Font */

.font-xxs {
    font-size: 0.7rem;
}

.font-xs {
    font-size: 0.8rem;
}

.font-small {
    font-size: 0.9rem;
}

.font-segou_ui {
    font-family: 'Segoe UI';
}

.font-segou_ui {
    font-family: 'Segoe UI';
}

.font-italic {
    font-style: italic;
}

.white {
    color: white;
}

/* Transforms */
.transform-flip {
    transform: scaleX(-1);
}